.chat-container {
  display: flex;
  flex-direction: column;
  height: 70vh; /* Chiều cao tối đa của modal */
  background-color: #f9f9f9;
}

.message-list {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto; /* Kích hoạt scroll */
  background-color: #fff;
}

.admin-bubble,
.user-bubble {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 60%;
}

.admin-bubble {
  background-color: #4CAF50;
  color: white;
  align-self: flex-end;
}

.user-bubble {
  background-color: #f1f1f1;
  color: #333;
  align-self: flex-start;
}

.chat-input {
  padding: 10px;
  border-top: 1px solid #e8e8e8;
  background-color: #f9f9f9;
}
